<%= form_for @person do |f| %>

  <div class="field">
    <%= f.label :name -%>
    <%= f.text_field :name -%>
  </div>

  <div class="field">
    <%= f.label :email -%>
    <%= f.email_field :email -%>
  </div>
  <div class="field">
    <%= f.label :phone -%>
    <%= f.text_field :phone -%>
  </div>
  <div class="field">
    <%= f.label :mobile -%>
    <%= f.text_field :mobile -%>
  </div>
  <div class="field">
    <%= f.label :messenger -%>
    <%= f.text_field :messenger -%>
  </div>

  <%= f.fields_for :address do |addr| %>
    <div class="field">
      <%= addr.label :address -%>
      <%= addr.text_field :address -%>
    </div>
    <div class="field">
      <%= addr.label :city -%>
      <%= addr.text_field :city -%>
    </div>
    <div class="field">
      <%= addr.label :zip -%>
      <%= addr.text_field :zip -%>
    </div>
    <div class="field">
      <%= addr.label :country -%>
      <%= addr.text_field :country -%>
    </div>
  <% end %>
  
  <%= f.submit %>
<% end %>