<div class="row-fluid">
  <div class="span2">
    
  </div>

  <div class="span10">
    <h1>Szene <%= @szene.position %>: <%= @szene.title %></h1>
    Ort:<br>
    <%= @szene.place %>
<hr>
    Handlung:<br>
    <%= @szene.description %>
<hr>
    Related Files:
<hr>
    <%= link_to "Bearbeiten", edit_szene_path(@szene) %> | <%= link_to "Zurück zum Script", :back %>
  </div>
</div>