<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span10">
    <%= nested_form_for @video do |f| %>
      <h1><%= @video.title %></h1>

      <div class="fields">
	<% if current_user==@video.user %>
	  <%= link_to 'Video löschen', video_path(@video), :method=>:delete, :confirm => 'Are you sure?' %>
	<% end %>
      </div>
      <br>
      <div class="advise">
	  <%= raw(state_dependent_hint(@video)) %>
      </div>

      <% if @video.state == "accepted_production" %>
	<div class ="fields">
	  <%= f.label :short_text %>
	  <%= f.text_area :short_text, :rows => 10 %>
	</div>
      <% end %>

      <div class="fields">
	<%= f.label :format %>
	<%= @video.format %>
      </div>

      <div class="fields">
	<%= f.label "gehört zu Serie" %>
	<%= f.collection_select :serial_id, Serial.where('for_shows' => false), :id, :title, {:include_blank => true} %> | 
	<%= link_to "Serie anlegen", new_serial_path %>
      </div>

      <div class="fields">
	<%= f.label 'ist Teil der Sendung' %>
	<% if @video.show %>
	  "<%= @video.show.title %>" am: <%= l @video.show.date, :format => :g_date %>
	<% else %>
	  <%= f.collection_select :show_id, Show.where(["Date >= ?", Date.today]), :id, :toppic, {:include_blank => true} %>
	<% end %>
      </div>

      <div class="fields">
	<%= f.label :duration %>
	supposed: <b><%= nice_time(@video.supposed_duration) %> Min</b> / 
	actual: <b><%= nice_time(@video.duration) %> Min</b>
      </div>

      <div class="fields">
	<%= f.label 'responsible Person' %>
	<%= @video.user.person.name %>
      </div>

      <div class="fields">
	<%= f.label "Betreuer wählen" %>
	<% if @video.advisor == nil %>
	  <%= f.collection_select :advisor_id, Person.joins(:user).where('users.advisor' => true), :user_id, :name, {:include_blank => true} %>
	<% else %>
	  <%= @video.advisor.person.name %>
	<% end %>
      </div>

      <div class="summary">
	<section>
	  <%= f.label :summary %><br>
	  <%= @video.summary %>
	</section>
      </div>

      <%= link_to "Treatment bearbeiten", edit_treatment_path(:id => @video.treatment.id) %> zuletzt bearbeitet: <%= l @video.treatment.updated_at, :format => :g_datetime %> von: <%= @video.treatment.updated_by %><br>
      <div id="people">
	<section>
	  Mitwirkende:<br>
	  <ul>
	    <li>Besitzer: <%= @video.user.person.name %></li>
	    <% @video.roles.each do |role| %>
	      <% if role.role? %>
		<li>
		  <%= role.role %>: <%= role.person.name %>
		    <% if current_user==@video.user %>
		      -- <%= link_to "barbeiten", edit_role_path(role) %> -- <%= link_to "Löschen", role_path(role.id), method: :delete %>
		    <% end %>
		</li>
	      <% end %>
	    <% end %>
	  </ul>
	  <% if current_user==@video.user %>
	    <%= link_to "person hinzufügen", new_role_path(:video_id => @video.id) %><br>
	    <%= link_to "Kontaktliste", contacts_video_path(:id => @video.id) %>
	  <% end %>
	</section>
      </div>
      <div>
	<%= link_to "Script bearbeiten", script_video_path(:id=>@video.id) %> zuletzt bearbeitet: <%= l @video.updated_at, :format => :g_datetime %> von: <br>
	<%= link_to "Drehplan zeigen", takelist_video_path(:video_id => @video.id) %><br>
      </div>
      <section>
	Technik:
	<ul>
	  <%= @video.chosen_items.each do |ti| %>
	    <li>
	      <%= ti.technical_item.name %> -- <%= link_to "handbuch", ti.technical_item.manual_url %> -- <%= link_to "remove", discard_item_video_path(:item => ti) %>
	    </li>
	  <% end %>
	</ul>
	<%= link_to "Gerät auswählen", select_item_video_path(:id => @video.id) %>
      </section>
      <%= link_to "Musikliste (Gema-Liste) zeigen", musiclist_video_path(:video_id => @video.id) %><br>
      <div class="fields">
	<%= f.label "Kommentare und Ideen", :field_name => 'comments' %>
	<%= f.text_area :comments, :rows => 10 %>
      </div>
      <div>
	<%= f.submit %> | <%= link_to "Zurück zur Übersicht (ohne speichern)", videos_showmy_path %>
      </div>
    <% end %>
  </div>
</div>
