<h1>Videos</h1>
<%= form_tag videos_path, :method => 'get', :id => "videos_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<table>
<tr>
<th>Title</th>
<th>Created by</th>
<th>Format</th>
<th>Duration</th>
<th>Status</th>
</tr>
<% @videos.each do |video| %>
  <tr>
    <td><%= link_to video.title, video %></td>
    <td><%= video.user.person.name %></td>
    <td><%= video.format %></td>
    <td><%= video.duration %></td>
    <td>status</td>
  </tr>
  <tr><td colspan="4"><%= video.summary %></td></tr>
<% end %>
</table>
<%= will_paginate @videos %>
<% end %>

<%= link_to 'back', videos_showmy_path %>

