<h1>Create a new Videoscript</h1>
<%= form_for @video do |f| %>

<div class="field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :format %>
  <%= f.select :format, Video::FORMATS, :prompt=>"Bitte wählen" %>
</div>

<div class="field">
<%= f.label :supposed_duration %>
<%= f.text_field :supposed_duration %>
</div>

<div class="field">
<%= f.label :summary %>
<%= f.text_area :summary %>
</div>

<div class="field">
<%= f.label "responsable Person: " %><%= @video.user.person.name %>
</div>

<%= f.submit %>

<% end %>


