<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span10">
    <table width="100%" border="1">
      <tr>
	<th>Bildnummer</th>
	<th>Länge</th>
	<th>Bild</th>
	<th>Bildbeschreibung</th>
	<th>Ton</th>
	<th>Spielort</th>
	<th>Notiz</th>
      </tr>
      <% @takes_with_ad.group_by(&:address).each do |address, takes| %>
	<tr><td colspan="4"><b><%= address.venue %> | <%= address.address %></b></td><td colspan="3"></td></tr>
	  <% for take in takes %>
	    <%= render :partial => 'takes/list_take', :locals => {:take => take} %>
	  <% end %>
      <% end %>
      <tr><td colspan="4"><b>Ohne Adresse:</b></td><td colspan="3"></td></tr>
      <% @takes_without.each do |take| %>
	<%= render :partial => 'takes/list_take', :locals => {:take => take} %>
      <% end %>
     </table>
    <%= link_to "Zurück zum Video", edit_video_path(@video) %>
  </div>
</div>