<%= form_for @take, :html => {:multipart => true} do |f| %>
<h3>Take <%= @take.position %> in Szene <%= @take.szene.position %>: <%= @take.szene.title %></h3>
<div class="fields">
  <%= f.label :duration %>
  <%= f.text_field :duration %>
</div>
<div class="fields">
  <table>
  <tr>
  <th><%= f.label :view_desc %></th>
  <th><%= f.label :audio_desc %></th>
  </tr>
  <tr>
  <td><%= f.text_area :view_desc %></td>
  <td><%= f.text_area :audio_desc %></td>
  </tr>
  </table>
  <% @take.pictures.each do |pic| %>
      <div class="picture">
	<%= pic.position %>
	<%= image_tag pic.image_url(:thumb) if pic.image? %>
	<%= pic.description %>
      </div>
  <% end %>
</div>
<%= fields_for :pictures do |pic_form| %>
  <div class="picture_fields">
    <p>
      <%= pic_form.label :image %>
      <%= pic_form.file_field :image %>
    </p>
    <p>
      <%= pic_form.label :description %>
      <%= pic_form.text_field :description %>
    </p>
  </div>
<% end %>
<div class="fields">
  <%= f.label :note %>
  <%= f.text_field :note %>
</div>
<div class="fields">
    <%= f.label :address %>
    <% if @take.address %>
      <%= @take.address.venue %>: <%= @take.address.address %> | 
      <%= link_to "Adresse neu wählen", edit_take_path(@take, @take.address=nil) %>
    <% else %>
      <%= f.autocomplete_field :address_id, autocomplete_address_address_takes_path %> | <%= link_to "neue Adresse anlegen", new_address_path(@take) %>
    <% end %>
</div>
<%= f.hidden_field :szene_id, :value => @take.szene.id %>

<br>

<%= f.submit %> | <%= link_to "Zurück ohne speichern", script_video_path(:id => @take.szene.sequence.video.id) %>
<% end %>