<%= form_for @show do |f| %>
  <div>
     <%= f.label :title %>
     <%= f.text_field :title %>
  </div>
  <div>
     <%= f.label :date %>
     <%= f.date_select :date, start_year: Time.now.year %>
  </div>
  <div>
     <%= f.label :duration %>
     <%= f.number_field :duration %>
  </div>
  <div>
     <%= f.label :toppic %>
     <%= f.text_field :toppic %>
  </div>
  <div class="fields">
    <%= f.label "gehört zu Serie" %>
    <%= f.collection_select :serial_id, Serial.where('for_shows' => true), :id, :title, {:include_blank => true} %> | 
	<%= link_to "Serie anlegen", new_serial_path %>
  </div>
  <div>
     <%= f.label 'responsible person' %>
     <%= @person.name %>
  </div>



  <%= f.submit %> | <%= link_to 'zurück ohne Speichern', videos_showmy_path %>
<% end %>