<h1>Show#index</h1>
<%= form_tag shows_path, :method => 'get', :id => "shows_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :topic => nil %>
  </p>
<ul>
<% @shows.each do |show| %>
  <li><%= show.title %> --- <%= show.date %> --- <%= show.duration %> Sekunden --- <%= show.user.person.name %> --- Status </li>
<% end %>
</ul>
<%= will_paginate @videos %>
<% end %>

<%= link_to 'back', videos_showmy_path %>
