<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span10">
    <h1><%= @show.title %></h1>
    <p>Thema: <%= @show.toppic %><br>
      Sendedatum: <%= l @show.date, :format => :g_date %></p>

    <table>
      <% @show.videos.each do |video| %>
	<tr>
	  <td><%= video.title %></td>
	  <td><%= video.format %></td>
	  <td><%= nice_time(video.supposed_duration) %> Min</td>
	  <td><%= link_to video.user.person.name, person_path(video.user.person) %></td>
	  <td><%= video.state %></td>
	</tr>
      <% end %>
    </table>
    <%= link_to "Zurück zur Übersicht", shows_path %>
  </div>
</div>