<li>
<span class="handle"></span>
Sequenz | <%= sequence.name %> ------- <%= link_to "Delete", sequence, method: :delete, confirm: "Are you sure?" %> --- <%= link_to "Edit", edit_sequence_path(sequence) %>
<hr>
<table>

    <% sequence.szenes.each do |szene| %>
        <%= render :partial => "szenes/szene_short", :locals=>{:szene=>szene} %>
    <% end %>

</table>
<%= link_to 'neue Szene anlegen', new_szene_path(:sequence_id => sequence.id) %>
<br><br>
</li>